@font-face {
    font-family: "Proxima Nova Condensed Bold";
    src:local("Proxima Nova Condensed Bold"), 
     url("../Proxima/Bold/ProximaNovaCond-Bold.ttf"),
     url("../Proxima/Bold/ProximaNovaCond-Bold.eot"),
     url("../Proxima/Bold/ProximaNovaCond-Bold.otf"),
     url("../Proxima/Bold/ProximaNovaCond-Bold.woff"),
     url("../Proxima/Bold/ProximaNovaCond-Bold.woff2"),
     url("../Proxima/Bold/ProximaNovaCondBold.woff");
}

@font-face {
    font-family:"Proxima Nova Condensed Regular";
    src:local("Proxima Nova Condensed Regular"),
    url("../Proxima/Regular/ProximaNovaCond-Regular.eot"),
    url("../Proxima/Regular/ProximaNovaCond-Regular.ttf"),
    url("../Proxima/Regular/ProximaNovaCond-Regular.woff"),
    url("../Proxima/Regular/ProximaNovaCond-Regular.woff2");
}

@font-face {
    font-family:"Proxima Nova Condensed Extrabld";
    src: local("Proxima Nova Condensed Extrabld"),
     url("../Proxima/ExBold/ProximaNovaCond-Extrabld.ttf"),
     url("../Proxima/ExBold/ProximaNovaCond-Extrabld.eot"),
     url("../Proxima/ExBold/ProximaNovaCond-Extrabld.woff"),
     url("../Proxima/ExBold/ProximaNovaCond-Extrabld.woff2"),
     url("../Proxima/ExBold/ProximaNovaCond-ExtrabldIt.eot"),
     url("../Proxima/ExBold/ProximaNovaCond-ExtrabldIt.woff"),
     url("../Proxima/ExBold/ProximaNovaCond-ExtrabldIt.woff2"),
     url("../Proxima/ExBold/ProximaNovaCond-ExtrabldIt.ttf");
}

@font-face {
    font-family:"Proxima Nova Condensed Black" ;
    src: local("Proxima Nova Condensed Black"),
     url("../Proxima/Black/ProximaNovaCond-Black.eot"),
     url("../Proxima/Black/ProximaNovaCond-Black.otf"),
     url("../Proxima/Black/ProximaNovaCond-Black.ttf"),
     url("../Proxima/Black/ProximaNovaCond-Black.woff"),
     url("../Proxima/Black/ProximaNovaCond-Black.woff2"),
     url("../Proxima/Black/ProximaNovaCondBlack.woff");
}

@font-face {
    font-family:"Proxima Nova Condensed ExBlack" ;
    src: local("Proxima Nova Condensed ExBlack"),
     url("../Proxima/ExBlack/ProximaNovaExCn-Black.otf"),
     url("../Proxima/ExBlack/ProximaNovaExCn-Black.ttf"),
     url("../Proxima/ExBlack/ProximaNovaExCn-Black.woff"),
     url("../Proxima/ExBlack/ProximaNovaExCn-Black.woff2");
}

/* Стили для выбора формы */
.registration{
    position: relative;
}

h2{
    font-family: Proxima Nova Condensed Black, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 34px;
    line-height: 38px;
    text-align: center;
}

.container-forms{
    display: flex;
    justify-content: center;
    margin-top: 63px;
}

.shape-selection{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 370px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.09), 0px 3px 19px rgba(51, 51, 51, 0.04);
    border-radius: 3px;
}

.shape-selection:first-child{
    margin-right: 30px;
}

.container-forms__img-two{
    width: 243px;
    height: 213px;
    margin-top: 13px;
}


.container-forms__img{
    width: 273px;
    height: 258px;
}

.container-form__btns{
    width: 170px;
    height: 46px;
    left: 100px;
    bottom: 36px;
    background: #2998FF;
    border: 1px solid #0F8FEE;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 36px;
}

.container-form__btns:hover{
    opacity: 0.7;
}

.btns__shape_two{
    margin-top: 32px;
}

/* Конец стилей для выбора формы */

/* Стили для формы 1 */

.container-shape{
    position: relative;
    width: 670px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(46, 45, 61, 0.18), 0px 16px 80px rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    margin: 0 auto;
    padding-left: 37px;
    padding-right: 29px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.hiden{
    display: none;
}

.container-shape__hidden{
    display: none;
}

.container-shape__show{
    display: block;
    margin: auto;
    margin-top: 30px;
}

.container-shape__wrapper{
    display: flex;
    justify-content:space-between ;
}

.block-input-forms{
    display: flex;
    flex-direction: column;
}

.input-form{
    width: 368px;
    height: 48px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 3px;
    padding-left: 17px;
    margin-bottom: 18px;
}

.block-input-forms .input-form{
   margin-bottom: 0;
   margin-top: 3px;
}

.input-form:first-child{
    margin-top: 34px;
}

.input-form::-moz-placeholder,
.input-form::-webkit-input-placeholder,
.input-form:-ms-input-placeholder{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #B3B3B3;
    margin-left: 17px;
}



.checkbox{
    margin-top: 38px;
}

label{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.container-shape__btns{
    width: 192px;
    height: 46px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 35px;
    background: #2998FF;
    border: 1px solid #2998FF;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
}

.container-shape__btns:hover{
    opacity: 0.7;
}

.input-forms__img{
    height: 203px;
    width: 192px;
}

.container-shape__text{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #999999;
    margin-top: 16px;
}

.buttom-close{
    position: absolute;
    border: none;
    background-color: white;
    width: 12px;
    height: 12px;
    right: 17px;
    top: 15px;
    background-image: url('../img/Groupe.svg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer
}

.not-valid{
    border:1px solid  red;
}

.error-message{
    visibility: hidden;
    color: red;
    font-family: 'Proxima Nova Condensed Regular', sans-serif;
    margin-left: 2px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 3px;
    display: inline-block;
}

.error-hide{
    visibility: visible;
}
/* Конец стилей формы 1 */